<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      text-align:center;
    }
    </style>
  </head>
  <body>
    <h3>A Perfectly Normal Website</h3>
    <h4>With one singular button</h4>
    <br>
    <h5>Whatever could it do?</h5>
    <br>
    <p id="og"></p>
    <p id="otama"></p>
    <button id = "rick" onclick = "roll()">Press Me</button>

    <iframe height="400" width="300" src="https://www.youtube.com/embed/watch?v=dQw4w9WgXcQ"></iframe>

    <script>
      function roll() {
        document.getElementById("og").innerHTML= "pizza";
      }
      </script>
  </body>
</html>
